# Lista de ficheiros e pastas a ignorar pelo Git
# ficheiros temporários ou secretos
privado/
*.env_production
*.env_mysql_production
*.env_postgres_production
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.log
.venv/
venv/
